.top{
    background-color: burlywood;
    border: 10px solid rgb(182, 106, 7);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.link{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.logo{
    width: 120px;
    height: 80px;
}
.link a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;

}
.mid{
  display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightskyblue;
    
}    

.text-mid{
    font-size: 50px;
    text-align:center;

}
.bottom{
    background-color:burlywood;
    border: 10px solid rgb(182, 106, 7);
    border-radius: 10px;
    padding: 10px;;
    font-size: 20px;
    
}
.bottom-text{
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
}
.imageborder {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
}
   

.Hledat{
    width: 150px;
    height: 30px;
    background-color: bisque;
    border-radius: 20px;
    border: 5px solid grey;
}
.search{
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom-page{
    display:flex ;
    justify-content: space-between;
    padding: 40px;
    background-color: lightskyblue;
    
    

}
.text-mid2{
    text-align: center;
    font-size: 30px;
}
.banner{
    width: 1800px;
    height: 250px;
}
body {
    margin: 0;
    padding: 0;
}


.top{
    background-color: burlywood;
    border: 10px solid rgb(182, 106, 7);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.Hledat{
    width: 150px;
    height: 30px;
    background-color: bisque;
    border-radius: 20px;
    border: 5px solid grey;
}
.logo{
    width: 120px;
    height: 80px;
}
.search{
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.link{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  
.mid{
    display: flex;     
      padding: 20px;
      background-color:lightskyblue;
      
  }    
  
  .text-mid{
      font-size: 30px;
  
      

    
      
  
  }
  .bottom{
      background-color: burlywood;
      border: 10px solid #b66a07;
      border-radius: 10px;
      padding: 20px;;
      font-size: 20px;
}
.imageborder {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
}